body {
  padding: 20%;
  padding-top: 15%;
  margin-bottom: 25%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Mitchell_Map-06full2.jpg/1280px-Mitchell_Map-06full2.jpg);
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(255,255,255,0.8);
}

#aboutTJ img {
  width: 50%;
  height: 18em;
  margin: 0%;
  float: left;
  z-index: -1;
}

#aboutTJ {
  margin: 0%;
}

#centerTJ {
  background: clear;
  height: 10rem;
  width: 15rem;
  z-index:0;
  position: absolute;
  left: 41.5%;
  top: 3%;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  font-style: bold;
  font-size: 35pt;
  padding-top: 1%;
  opacity: .7;
}

.placeText {
  background: lightgray;
  height: 3rem;
  width: 10rem;
  z-index:0;
  position: absolute;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  font-size: 22pt;
  opacity: .8;
}

.placeText a {
  text-decoration: none;
  color: black;
  opacity: 1;
}

