p {
  padding-left: 1%;
  padding-right: 1%;
}

img {
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 3%;
  flex-wrap: nowrap;
  background: rgb(231, 228, 228);
}

.navbar div {
  width: 14%;
  padding: 5px;
  border: solid;
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
  background: rgb(228, 208, 183);
}